$color-primary: #9dff00;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 20%);

$color-secondary: #ff0000;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-grey: #eee;
$color-light: #fff;

$bp-large: 37.5em;
