.container {
  height: 90vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;

  &__background {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to bottom right,
        rgba($color-primary, 0.7),
        rgba($color-secondary, 0.7)
      ),
      url("img/img02.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  &__title-box {
    position: absolute;
  }
}
