@font-face {
  font-family: Yekan;
  src: url("font/Yekan.woff"), url("font/Yekan.woff");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Yekan;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2;
  min-height: 100vh;
}

.btn {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: 4rem;
  border: none;
  font-family: inherit;
  font-size: 1.9rem;
  background: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 6px;
  margin: 0.5rem 1rem;
  padding: 1rem 2rem;
}

.btn:hover {
  background: #5e9900;
  color: #fff;
  cursor: pointer;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: -webkit-gradient(linear, right bottom, left top, from(#c4ff66), to(#5e9900));
  background: linear-gradient(to top left, #c4ff66, #5e9900);
  z-index: -50;
}

.form {
  height: 90vh;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.form__header {
  background: #fff;
  border-radius: 4px;
  padding: 0.5rem 3rem;
  cursor: default;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 1rem;
}

.form__label {
  font-size: 2.2rem;
}

.form__input {
  width: 25rem;
  font-family: inherit;
  font-size: 1.9rem;
  font-weight: inherit;
  text-align: right;
  border: transparent 4px solid;
  border-radius: 6px;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form__input::-webkit-outer-spin-button, .form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__input[type="number"] {
  -moz-appearance: textfield;
}

.form__input:hover, .form__input:focus {
  background: white;
  outline: none;
  border: #9dff00 4px solid;
}

.result {
  min-width: 25rem;
  min-height: 7rem;
  background: #fff;
  margin: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  text-align: center;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */