.btn {
  min-width: max-content;
  min-height: 4rem;
  border: none;
  font-family: inherit;
  font-size: 1.9rem;
  background: $color-light;
  transition: all 0.2s ease-out;
  border-radius: 6px;
  margin: 0.5rem 1rem;
  padding: 1rem 2rem;

  &:hover {
    background: $color-primary-dark;
    color: $color-light;
    cursor: pointer;
  }
}
