.form {
  width: 60%;
  height: 90%;
  background: rgba($color-light, 0.6);
  border-radius: 10px;
  padding: 3rem;
  transition: all 0.2s;

  @include flex-center;

  @media only screen and (max-width: $bp-large) {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  &__items {
    // background-color: red;
    flex-direction: column;
    @include flex-center;

    &--header {
      min-width: max-content;
      background: $color-light;
      border-radius: 4px;
      padding: 0.5rem 3rem;
      cursor: default;
    }

    &--container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &--label {
      font-size: 2.2rem;
    }

    &--input {
      width: 25rem;
      font-family: inherit;
      font-size: 1.9rem;
      font-weight: inherit;
      text-align: right;
      border: transparent 4px solid;
      border-radius: 6px;
      padding: 1rem 2rem;
      margin: 1rem 0;
      background: rgba($color-light, 0.6);
      transition: all 0.2s;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type="number"] {
        -moz-appearance: textfield;
      }

      &:hover,
      &:focus {
        background: rgba($color-light, 1);
        outline: none;
        border: $color-primary 4px solid;
      }
    }
  }
}

.result {
  width: 25rem;
  height: 7rem;
  background: $color-light;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  text-align: center;
  margin: 1rem 0;
}
