.form {
  width: 60%;
  // background: rgba($color-light, 0.6);
  background: linear-gradient(
    to bottom right,
    rgba($color-light, 0.3),
    rgba($color-light, 0.7)
  );
  color: black;
  border-radius: 10px;
  padding: 3rem;
  transition: all 0.2s;
  position: relative;
  @include flex-center;

  @media only screen and (max-width: $bp-large) {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    border-radius: 0px;
  }

  &__items {
    // background-color: red;
    flex-direction: column;
    @include flex-center;

    &--header {
      width: 100%;
      min-width: max-content;
      font-family: "Balsamiq Sans";
      font-size: 2.3rem;
      background: $color-light;
      border-radius: 4px;
      padding: 0.5rem 3rem;
      cursor: default;
      margin: 1rem 0;
      text-align: center;
      transition: all 0.2s;
    }

    &--container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &--label {
      font-size: 2rem;
    }

    &--input {
      width: 25rem;
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: inherit;
      text-align: right;
      border: transparent 4px solid;
      border-radius: 6px;
      padding: 1rem 2rem;
      margin: 1rem 0;
      background: rgba($color-light, 0.6);
      transition: all 0.2s;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type="number"] {
        -moz-appearance: textfield;
      }

      &:hover,
      &:focus {
        background: rgba($color-light, 1);
        outline: none;
      }
      &:focus {
        border: $color-valid 4px solid;
      }
      &:focus:invalid {
        border: $color-invalid 4px solid;
      }
    }
  }
}

.result {
  width: 25rem;
  min-height: 7rem;
  background: $color-light;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
  transition: all 0.2s;

  @include flex-center;
}

.dark-mode {
  &--bgn {
    background: linear-gradient(to bottom right, #333, #111) !important;
    color: #eee !important;
  }

  &--form {
    background: #333 !important;
    color: #eee !important;
  }

  &--field {
    background: #333 !important;
    color: #fff;
    &::placeholder {
      color: #ccc !important;
    }
    &:hover,
    &:active {
      background: #444 !important;
    }
  }

  &--btn {
    background: #333 !important;
    color: #eee !important;
    &:hover {
      background: $color-primary-dark !important;
    }
  }
}
